@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #fff;
    --background: #fff;

    --gradient-color-1: #f383c1;
    --gradient-color-2: #e86c72;
    --gradient-color-3: #f9b8e0;
    --gradient-color-4: #f890a1;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--foreground);
    background-color: var(--gradient-color-3);
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

html {
    height: -webkit-fill-available;
}

#__next {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

html,
body {
    margin: 0;
}
